@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
}
.navbar{
  display: flex;
  justify-content: space-between;
  background-color: rgba(33, 31, 31, 1);
  height: 10vh;
  align-items: center;
  color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
  top: 0px;
  position: fixed;
  z-index: 10000;
 width: 100%;
}
.pills ul{
  list-style: none;
  display: flex;
  gap: 5px;
  background-color: rgba(55, 55, 55, 1);
  border-radius: 45px;
  padding: 5px;
}


/* Make links behave like pills */
.nav-link {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1.5vh;
  border-radius: 45px;
  transition: background-color 0.4s ease;
}

/* Hover still works */
.nav-link:hover {
  background-color: rgba(66, 105, 226, 1);
}

/* ACTIVE PAGE (this is the key part) */
.nav-link.active {
  background-color: rgba(66, 105, 226, 1);
}
.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 13px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  z-index: 1000;
}

.legend .c {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border-radius: 3px;
}

.legend .blue { background: #2c7bb6; }
.legend .yellow { background: #ffffbf; }
.legend .red { background: #d7191c; }
.legend .green { background: #1a9850; }
.legend .light { background: #67a9cf; }
.legend .brown { background: #fddbc7; }

.layer-toggle {
  position: absolute;
  bottom: 10vh;        /* below navbar */
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 10px;
  border-radius: 10px;
  z-index: 1000;
}

.layer-toggle button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: 6px 14px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 13px;
}

.layer-toggle button.active {
  background-color: rgba(66, 105, 226, 1);
  border-color: rgba(66, 105, 226, 1);
}
.info-panel {
  position: absolute;
  top: 20vh;
  right: 3vw;
  width: 280px;
  height: 50vh;
  background: rgba(0, 0, 0, 0.534);
  color: white;
  padding: 16px;
  box-shadow: -2px 0 8px rgba(0,0,0,0.3);
  z-index: 1000;
}

.info-panel h3 {
  margin-bottom: 12px;
  border-bottom: 1px solid #374151;
  padding-bottom: 6px;
}

.info-item {
  margin: 10px 0;
  font-size: 14px;
}
.strategy-form {
  display: flex;
  gap: 12px;
  margin: 20px 0;
}

.strategy-form select,
.strategy-form input {
  padding: 8px;
}

.strategy-form button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  cursor: pointer;
}

